
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Adminlte.cshtml";
}

<style>
    .box-header span {
        display: block;
    }
</style>

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            I, Giới Thiệu
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> home</a></li>
            <li><a href="#">tables</a></li>
            <li class="active">data tables</li>
        </ol>
        <img style="width : 100%;" class="content-header__img" src="~/Areas/TTNhom_QLTTHPT/Asset/img/ff81224b0050fa0ea341.jpg" />
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <h3>
                    II, Nội Quy Học Sinh
                </h3>
                <div class="box">
                    <div class="box-header">
                        <h4>PHẦN I: NHỮNG QUY ĐỊNH HỌC SINH PHẢI CHẤP HÀNH</h4>

                        <h5>I - Về giờ giấc, nề nếp ra vào lớp</h5>
                        <span>
                            1. Đi học đúng giờ. Khi trống báo vào tiết, học sinh phải vào trong lớp, ổn định vị trí, chuẩn bị cho tiết học, không được đứng ngoài hành lang.
                        </span>
                        <span>
                            2. Không trốn học, bỏ tiết. Có lý do thật đặc biệt nghỉ tiết phải xin phép giáo viên bộ môn, sau đó trình Ban Giám hiệu xem xét, đồng ý mới được về. Nghỉ học cả buổi thì cha mẹ học sinh phải viết giấy xin phép và gửi đến trường vào đầu giờ học.
                        </span>
                        <span>
                            4. Hết giờ học phải tắt hết quạt, điện, đóng cửa sổ; Tan học phải nhanh chóng giải tỏa khỏi khu vực cổng trường, không tụ tập dưới lòng đường, không la cà hàng quán, đi chơi điện tử.
                        </span>
                        <h4>II - Về học tập</h4>
                        <span>
                            1. Học sinh phải có thái độ và động cơ học tập đúng đắn, có đầy đủ sách vở và dụng cụ học tập.
                        </span>
                        <span>
                            2. Trên lớp phải tập trung nghe giảng, chủ động tích cực xây dựng bài, ghi bài đầy đủ. Không ăn quà, làm việc riêng trong giờ học.

                        </span>
                        <span>
                            3. Thực hiện tốt nề nếp tự học ở nhà, học bài và làm bài đầy đủ trước khi đến lớp.

                        </span>
                        <span>
                            5. Trung thực trong khi kiểm tra, thi cử.
                        </span>
                        <span>
                            6. Không mang đến trường những đồ dùng không liên quan đến học tập như: vũ khí, chất nổ, băng đĩa nhạc, truyện, máy nghe nhạc...
                        </span>
                        <h5>III - Về đạo đức, lối sống</h5>
                        <span>
                            1. Lễ độ với thầy cô giáo, công nhân viên nhà trường, khách đến thăm trường và người lớn tuổi.
                        </span>
                        <span>
                            2. Tôn trọng, hòa nhã, đoàn kết, giữ quan hệ đúng mực với bạn bè. Không nói tục, chửi bậy.
                        </span>
                        <span>
                            3. Khi đến trường học sinh phải mặc đồng phục theo đúng mẫu đồng phục của nhà trường và đeo thẻ HS trong suốt buổi học; đi giầy hoặc dép có quai hậu; không đi giày dép cao gót.
                        </span>
                        <span>
                            4. Tích cực tham gia các hoạt động ngoại khóa, văn nghệ, thể dục thể thao… Có thái độ đúng đắn khi tham gia các hoạt động tập thể trong nhà trường và xã hội.
                        </span>
                        <span>
                            5. Có ý thức tự giác giữ gìn vệ sinh trường lớp, vứt rác vào thùng, không ăn kẹo cao su. Giữ gìn bảo vệ của công, cơ sở vật chất của nhà trường. Nếu làm hỏng phải chịu trách nhiệm sửa chữa, đền bù theo qui định.
                        </span>


                        <h4>PHẦN II: NHỮNG ĐIỀU NGHIÊM CẤM HỌC SINH</h4>
                        <span>
                            1. Bỏ giờ, trốn học.
                        </span>
                        <span>
                            2. Hút thuốc lá, chơi cờ bạc, uống rượu bia, nói tục, chửi thề trong và ngoài nhà trường.
                        </span>
                        <span>
                            3. Học sinh không được nhuộm tóc, không vuốt keo, xịt gôm. Không sơn móng chân, móng tay. Học sinh nam không được để tóc quá dài.
                        </span>
                        <span>
                            4. Mang các loại vật dụng, dao, vật nhọn, pháo, chất gây cháy nổ… đến trường.
                        </span>
                        <span>
                            5. Vẽ khắc, hoặc sử dụng bút xoá nước vẽ bậy trên bàn, trên tường, cửa lớp, không tự ý di chuyển bàn ghế trong lớp học.
                        </span>
                        <span>
                            6. Xả rác trong lớp, trong ngăn bàn, nhả kẹo cao su trong nhà trường.
                        </span>
                        <span>
                            7. Trêu chọc bạn quá mức, kết băng nhóm, đưa người lạ đến trường, gây gổ đánh nhau làm mất trật tự trị an trong và ngoài nhà trường (HS đánh nhau bất kể lý do nào cũng sẽ bị buộc thôi học).
                        </span>
                        <span>
                            8. Tuyệt đối không được mang và sử dụng điện thoại di động trong trường. Nếu HS cố tình mang hoặc sử dụng sẽ bị tịch thu và hạ hạnh kiểm.
                        </span>
                        <span>
                            9. Nghiêm chỉnh chấp hành luật an toàn giao thông: không điều khiển xe máy tham gia giao thông; không gửi xe ngoài cổng trường, không đi xe trong sân trường.
                        </span>


                        <h4>PHẦN III : ĐIỀU KHOẢN THI HÀNH</h4>
                        <span>
                            - Tất cả học sinh phải thực hiện nghiêm túc những điều quy định trong bản Nội quy và những quy định khác của trường, nếu vi phạm sẽ bị xử lý kỷ luật từ hạ hạnh kiểm đến buộc thôi học tuỳ theo mức độ vi phạm.
                        </span>
                        <span>
                            - Nội quy này phổ biến đến từng học sinh để thực hiện và cha mẹ học để giám sát được gia đình lưu giữ nhằm phối hợp với nhà trường trong công tác giáo dục.
                        </span>

                    </div>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->

        </div>
        <!-- /.col -->
    </section>
</div>
<!-- /.row -->






@section Styles{
    <!-- Bootstrap 3.3.7 -->
    <link rel="stylesheet" href="~/Content/adminlte/components/bootstrap/dist/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/Content/adminlte/components/font-awesome/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="~/Content/adminlte/components/Ionicons/css/ionicons.min.css">
    <!-- DataTables -->s
    <link rel="stylesheet" href="~/Content/adminlte/components/datatables.net-bs/css/dataTables.bootstrap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/Content/adminlte/dist/css/AdminLTE.min.css">
    <!-- AdminLTE Skins. Choose a skin from the css/skins
         folder instead of downloading all of them to reduce the load. -->
    <link rel="stylesheet" href="~/Content/adminlte/dist/css/skins/_all-skins.min.css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Google Font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
    <link rel="stylesheet" href="~/Areas/TTNhom_QLTTHPT/Asset/index.css" />
}

@section Scripts{
    <!-- jQuery 3 -->
    <script src="~/Content/adminlte/components/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap 3.3.7 -->
    <script src="~/Content/adminlte/components/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- DataTables -->
    <script src="~/Content/adminlte/components/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/Content/adminlte/components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <!-- Slimscroll -->
    <script src="~/Content/adminlte/components/jquery-slimscroll/jquery.slimscroll.min.js"></script>
    <!-- FastClick -->
    <script src="~/Content/adminlte/components/fastclick/lib/fastclick.js"></script>
    <!-- AdminLTE App -->
    <script src="~/Content/adminlte/dist/js/adminlte.min.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="~/Content/adminlte/dist/js/demo.js"></script>
    <!-- page script -->
    <script>
        $(function () {
            $('#example1').DataTable()
            $('#example2').DataTable({
                'paging': true,
                'lengthChange': false,
                'searching': false,
                'ordering': true,
                'info': true,
                'autoWidth': false
            })
        })</script>
}

