
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Adminlte.cshtml";
}


<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            <b>
                QUẢN LÝ THƯ VIỆN
                <small>Học viện Kỹ thuật Quân sự</small>
            </b>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="#">Tables</a></li>
            <li class="active">Data tables</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                        <i class="fa fa-hand-o-right"></i>
                        <h3 class="box-title">NỘI QUY - XỬ LÝ</h3>

                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <p style="text-align: left;"><strong>Giờ mở cửa</strong>:</p>

                        <p style="text-indent: 20px; text-align: left;"><strong><em>Buổi sáng: Từ 8h00 phút đến 12h00 phút</em></strong></p>

                        <p style="text-indent: 20px; text-align: left;"><strong><em>Buổi chiều: Từ 13h00 phút đến 17h</em></strong></p>

                        <p style="text-align: left;"><strong>Giờ phục vụ</strong>:</p>

                        <p style="text-indent: 20px; text-align: left;"><strong><em>Buổi sáng: Từ 8h15 phút đến 11h15 phút</em></strong></p>

                        <p style="text-indent: 20px; text-align: left;"><strong><em>Buổi chiều: Từ13h15phút đến 16h45 phút</em></strong></p>

                        <p style="text-align: left;">(Đầu và cuối giờ Thủ thư làm công tác nghiệp vụ)</p><br />

                        <p style="text-align: left;"><strong>QUY ĐỊNH CHUNG TRONG THƯ VIỆN</strong></p>

                        <p style="text-indent: 20px; text-align: left;"><strong>1</strong>/ Không được mang mũ, nón, balo, đồ dùng vào phòng thư viện. Chỉ được mang laptop, sách vở, giấy bút để học tập, nghiên cứu tài liệu</p>

                        <p style="text-indent: 20px; text-align: left;"><strong>2</strong>/ Giữ gìn vệ sinh, trật tự, không hút thuốc lá, ăn quà bánh, kẹo cao su trong khu vực Thư viện.</p>

                        <p style="text-indent: 20px; text-align: left;"><strong>3</strong>/ Xuất trình thẻ thư viện (thẻ sinh viên) tại quầy Thủ thư trước khi vào thư viện học tập, tra tìm tài liệu.</p>

                        <p style="text-indent: 20px; text-align: left;"><strong>4</strong>/ Nhận phiếu yêu cầu, ghi vào phiếu yêu cầu đầy đủ, rõ ràng (Tên tài liệu, ký hiệu và số lượng tài liệu) cần mượn <strong><em>( một buổi chỉ sử dụng 01 phiếu yêu cầu)</em></strong></p>

                        <p style="text-indent: 20px; text-align: left;"><strong>5</strong>/ Sách, luận văn, đề tài NCKH được mượn 03 cuốn 01 buổi, mỗi lần 01 cuốn. Đổi cuốn khác sau 30 phút</p>

                        <p style="text-indent: 20px; text-align: left;"><strong>6</strong>/ Tuyệt đối không mang sách, báo, tài liệu ra khỏi phòng đọc, không được lấy cắp, tráo đổi, xé trang, cắt xén, làm rách nát, hư hỏng hoặc ghi chép, gạch xoá vào tài liệu. </p>

                        <p style="text-indent: 20px; text-align: left;"><strong>7</strong>/ Bạn đọc cần có ý thức bảo quản tốt tài sản, tài liệu trong thư viện. </p>

                        <p style="text-indent: 20px; text-align: left;"><strong>8</strong>/ Bạn đọc phạm một trong các quy định trên, Thư viện sẽ áp dụng các biện pháp xử lý tuỳ theo mức độ vi phạm, cụ thể như sau:</p>

                        <p style="text-indent: 40px; text-align: left;"><strong><em>- Phạt tiền theo quy định của thư viện ( từ 01 đến 10 lần theo giá bìa)</em></strong></p>

                        <p style="text-indent: 40px; text-align: left;"><strong><em>- Tước quyền đọc và sử dụng mọi dịch vụ của Thư viện từ 01 đến 03 tháng</em></strong></p>

                        <p style="text-indent: 40px; text-align: left;"><strong><em>- Tước quyến sử dụng vĩnh viễn và thông báo cho hội đồng kỷ luật của Học viện&nbsp;</em></strong></p>

                        <p style="text-indent: 20px; text-align: left;"><strong>9</strong>/ Hoan nghênh và ưu tiên phục vụ bạn đọc thực hiện tốt nội quy của Thư viện. Khi có khiếu nại về tình hình tài liệu hoặc thái độ của Cán bộ Thư viện, Bạn đọc viết thư góp ý gửi vào hòm thư góp ý của Thư viện.</p><br />

                        <p style="text-align: center;"><em>Hà Nội, ngày 01 tháng 01 năm 2014</em></p>

                        <p style="text-align: center;"><strong>Thư viện Học viện Kỹ thuật Quân sự</strong></p>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->

            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
@section Styles{
    <!-- Bootstrap 3.3.7 -->
    <link rel="stylesheet" href="~/Content/adminlte/components/bootstrap/dist/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/Content/adminlte/components/font-awesome/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="~/Content/adminlte/components/Ionicons/css/ionicons.min.css">
    <!-- DataTables -->
    <link rel="stylesheet" href="~/Content/adminlte/components/datatables.net-bs/css/dataTables.bootstrap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/Content/adminlte/dist/css/AdminLTE.min.css">
    <!-- AdminLTE Skins. Choose a skin from the css/skins
         folder instead of downloading all of them to reduce the load. -->
    <link rel="stylesheet" href="~/Content/adminlte/dist/css/skins/_all-skins.min.css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Google Font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
    <link rel="stylesheet" href="~/Areas/TTNhom_QLThuVien/assets/mystyle.css">
}

@section Scripts{
    <!-- jQuery 3 -->
    <script src="~/Content/adminlte/components/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap 3.3.7 -->
    <script src="~/Content/adminlte/components/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- DataTables -->
    <script src="~/Content/adminlte/components/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/Content/adminlte/components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <!-- Slimscroll -->
    <script src="~/Content/adminlte/components/jquery-slimscroll/jquery.slimscroll.min.js"></script>
    <!-- FastClick -->
    <script src="~/Content/adminlte/components/fastclick/lib/fastclick.js"></script>
    <!-- AdminLTE App -->
    <script src="~/Content/adminlte/dist/js/adminlte.min.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="~/Content/adminlte/dist/js/demo.js"></script>
    <!-- page script -->
    <script>
        $(function () {
            $('#example1').DataTable()
            $('#example2').DataTable({
                'paging': true,
                'lengthChange': false,
                'searching': false,
                'ordering': true,
                'info': true,
                'autoWidth': false
            })
        })</script>
}

